.spinner-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 64px;
    color: $primary-color;
    i {
        animation: spinner 4s linear infinite;
    }
}