.autocomplete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    &__form {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 640px;
        &__container {
            display: flex;
            flex-direction: column;
            &__box {
                border: 1px solid black;
                &--elt {
                    border-bottom: 1px solid black;
                    padding: 8px;
                    cursor: pointer;
                    transition-property: background-color;
                    transition-duration: 200ms;
                    &:hover {
                        background-color: bisque;
                    }
                }
            }
        }
        input {
            height: 36px;
        }
        input, button {
            margin: 8px 0;
        }
    }
}