.auth {
    min-height: 50vh;
    padding-top: 56px;
    &--title {
        font-size: 40px;
        font-weight: 300;
        color: $primary-color;
        text-align: center;
    }
    &__container {
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 56px;
            input, button {
                min-height: 40px;
                max-width: 300px;
                width: 100%;
                margin: 8px 0;
            }
            div {
                max-width: 300px;
                width: 100%;
            }
            &__linkgroup {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}