@media screen and (max-width: 799px) {
    .header {
        &__nav {
            justify-content: space-between;
            &__logo {
                &--title {
                    font-size: 14px;
                }
                &--img {
                    width: 50px;
                    height: 50px;
                }
            }
            &__menu {
                display: flex;
                align-items: center;
                &--elt {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .header {
        &__nav {
            justify-content: space-between;
            &__logo {
                &--img {
                    width: 80px;
                    height: 80px;
                }
            }
            &__menu {
                &--elt {
                    font-size: 28px;
                }
            }
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__nav {
        display: flex;
        background-color: $primary-color;
        color: $light-color;
        &__logo {
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            min-width: 100px;
            justify-content: center;
        }

        &__menu {
            display: flex;
            align-items: center;
            &--elt {
                cursor: pointer;
                margin: 0 21px;
                color: $light-color;
                text-decoration: none;
            }
        }
    }
}