.reset {
    padding: 48px;
    &--title {
        font-weight: 300;
        text-align: center;
    }
    &__container {
        display: flex;
        justify-content: center;
        &__form {
            display: flex;
            flex-direction: column;
            min-width: 600px;
            input, button {
                height: 48px;
                margin: 8px 0;
            }
        }
    }
}